@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    border: 0px;
}

body {
    font-family: Arial, sans-serif;
    font-size: 48px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fafafa; 
}
.header {
    display: flex;
    box-sizing: border-box;
    background-color: rgb(204, 204, 204);
    width: 100%;
    font-size: 4rem;
    padding: 20px;
}
button {
    background-color: #007BFF; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    height: 40px;
    align-self: center;
}
.header button {
    margin-left: 10%
}

button:hover {
    background-color: #0056b3;
}

.logo {
    margin-left: 30%;
}

.main {
    background-color: #ffffff;
    flex: 1;
    padding: 20px;
}

.footer {
    justify-self: flex-end;
    width: 100%;
    background-color: rgb(172, 170, 170);
    text-align: center;
    font-size: 2rem;
}

label {
    display: block;
    font-size: 1.5rem;
    color: #333;
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 50px;
    margin: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.1rem;
    background-color: #f0f0f0; 
    color: #333; 
    padding: 30px;
    padding-top: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.title {
    align-self: center;
    font-size: 1.3rem;
    font-weight: bold
}

.card > *:not(:last-child) {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px
}

form {
    box-sizing: border-box;
    background-color: #ccc;
    padding: 50px;
    border-radius: 15px;
    width: 25%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

input {
    padding: 5px;
    border-radius: 12px;
}